<ion-view view-title="">
  <ion-content class="black_content">
  	<div class="row">
  		<div class="oclock col col-33">
  			<img src="img/ic_timer.png">
  			<div class="oclock_title">5 second Remaninig</div>
  		</div>
  		
  		<div class="logo_pump col col-33"><img src="img/img_pump.png"></div>
  	</div>
  
  		<div class="row">
  			<div class="col col-70">
	  			<canvas 
	  				height="{{height_chart}}"
	  				width="{{width_chart}}" 
	  				class="chart-bar"
	  				chart-data="data"
	  				chart-labels="labels"
	  				chart-colors="colors"
	  				chart-options="options"
	  				chart-dataset-override="datasetOverride" 
	  			></canvas> 
			</div>
  			<div class="col col-10 red_green_control" style="height:{{height_chart}}px">
                <img src="img/color_green_1.png">
                <img src="img/color_green_2.png">
                <img src="img/color_green_3.png">
                <img src="img/color_green_4.png">
                <img src="img/color_green_5.png">
                <img src="img/color_green_6.png">
                <img src="img/color_red_6.png">
                <img src="img/color_red_5.png">
                <img src="img/color_red_4.png">
                <img src="img/color_red_3.png">
                <img src="img/color_red_2.png">
                <img src="img/color_red_1.png">
  			</div>
  		</div>
  
  		<div class="logo_dump col col-33 col-offset-33"><img src="img/img_dump.png"></div>
 
  </ion-content>
</ion-view>