<ion-view view-title="">
<ion-content class="padding">
	  <div class="logo_pumpable">
      <img src="img/img_moon_logo.png" alt="">
    </div>
    <div class="row">
      <div class="list list_center col col-50">
      <a class="item item-thumbnail-left item_blacker" ng-click="googleLogin()" href="#/stchoise/google">
        <img src="img/imgpsh_fullsize.png">
        <div class="title_item">Login via Google</div>
      </a>
      <span>{{details}}</span>
      <a class="item item-thumbnail-left item_blacker" ng-click="scanBarcode()" href="#/stchoise/{{imageData.text}}">
        <img src="img/maim_qr_logo.png"">
        <div class="title_item">Login via QR</div>
      </a>
      <a class="item item-thumbnail-left item_blacker"  ng-click="smsModal()">
        <img src="img/main_sms_logo.png"">
        <div class="title_item">Login via SMS</div>
      </a>
    </div>
    </div>
</ion-content>
</ion-view>