<ion-modal-view class="modal_black">
			<!--Header con titulo y boton -->
  		<ion-header-bar class="modal_black">
				<!--Titulo-->
				<div class="modal_bg_pumpable"> 
					<img src="img/img_logo_tmp.png" alt="">
				</div>
   			
  		</ion-header-bar>
			<!--Contenido-->
  		<ion-content>
					<div class="list list-dark list-inset black-input marign-top-20">
					  <!-- <label class="item item-input item-black marign-top-20">
					    						<input type="tel" id="showKeyboard" ng-model="user.code">
					  					</label>  -->
					<label class="item item-input item-black marign-top-20 num-key">
  						<input type="text" ng-model="user.code" ng-click="showKeyboard($event)" readonly max="9999">
					</label>

					 <!--  <div class="card">
					 	<div class="item">{{code}}</div>
					 </div> -->
				<div class="padding font-weigth">Login via SMS</div>
				<!-- <input type="submit" value="Confirm" class="button button-green button-block button-positive activated green-green button-with-5 button-width-center" ng-click="smsModalHide()"> -->
			</div>
			
		</ion-content>
<!-- <a class="button button-green button-block button-positive activated green-green button-with-50" ng-click="modal.hide()"  href="#/stchoise/{{code}}"></a> -->
<ion-digit-keyboard settings="keyboardSettings" ng-hide="keyboardVisible"></ion-digit-keyboard>
</ion-modal-view>
