<ion-view view-title="User Statisctics">
<ion-header-bar class="modal_black">
        <!--Titulo-->
        <h1 class="title modal_black">User Statisctics</h1>
        
      </ion-header-bar>
  <ion-content class="padding black_content">
    <div class="Lifetime-earnings row">
      <div class="col stat_greey_letters">$1500</div>
      <div class="col col-75 stat_greey_letters">Lifetime Earnings</div>
    </div>
    <div class="ranks">
      <div class="rank row">
      <div class="progress_bar col-33 row">
        <div class="bg_green"></div>
        <div class="bg_red"></div>
      </div>
      <div class="progres_title col-67 stat_greey_letters">Global Rank: 650/1000</div>
    </div>
    <div class="rank row">
      <div class="progress_bar col-33 row">
        <div class="bg_green"></div>
        <div class="bg_red"></div>
      </div>
      <div class="progres_title col-67 stat_greey_letters">Percent Rank: 65th</div>
    </div>
    </div>
    <div class="circles">
      <div class="circle_progres bounty row">
      <div class="col">
         <ui-knob value="value" options="options3"></ui-knob>
      </div>
   
      <div class="col stat_greey_letters col-67 ">
        Bounty Progress
      </div>
      </div>
       <div class="circle_progres accuracy row">
        <div class="col">
           <ui-knob value="value2" options="options3"></ui-knob>
        </div>
        
        <div class="col stat_greey_letters col-67 ">
          Accuracy
        </div>
      </div>  
    </div>
   
    <div class="predirections">
      <div class="total stat_greey_letters text-align-center">Total Predirections: 3817</div>
      <div class="correct stat_greey_letters text-align-center">Correct Predirections: 2381</div>
    </div>
  </ion-content>
</ion-view>