<ion-view view-title={{code}}>
<ion-content class="padding">
	<div class="bg_pumpable"><img src="img/img_logo.png"></div>
		<div class="chart_predirection starter_width">
			<div class="starter_title">Chart Predirection</div>
			<div class="graph_img"><img src="img/img_to_chart.png" ></div>
			<a href="#/app">Start</a>
		</div>
		<div class="chart_predirection starter_width">
			<div class="starter_title">Your User Statistics</div>
			<div class="graph_img"><img src="img/img_to_statistic.png" ></div>
			<a href="#/stats">View Statistics</a>
		</div>
</ion-content>
</ion-view>